<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <title>WeatherForecast</title>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <h1 class="navbar-brand mb-0 h1" style="color: white;">
                <a href="/" style="color: white; text-decoration: none;">
                  ☀️ Weather Forecast
                </a>
            </h1>
        </div>
    </nav>
</head>
<body>
    <div class="container mt-4">
        <div class="card">
          <div class="card-header">
            ☀️  ☁️  🌤️  🌦️  🌧️
          </div>
          <div class="card-body">
            <h5 class="card-title">Search City below</h5>
            <form>
                <div class="mb-3" action="/" method="POST">
                  <label for="weather" class="form-label">Get real-time weather updates and forecasts for the next five days with our Weather Forecast Application</label>
                  <input type="text" class="form-control" id="weather">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
        </div>
        {% block body %}
        {% endblock  %}
    </div>      
</body>
</html>
