<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <title>WeatherForecast</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/" style="text-decoration: none;">
                <h1 style="font-size: 24px; color: white;">☀️ Weather Forecast</h1>
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron text-center bg-light">
            <h1 class="display-4">Weather Forecast Application</h1>
            <p class="lead">Get real-time weather updates and forecasts for the next five days.</p>
        </div>
        
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" name="city" class="form-control" placeholder="Enter a city name" id="city">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" name="action" value="current">Current Weather</button>
                            <button type="submit" class="btn btn-primary" name="action" value="prediction">5 Days Prediction</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
