{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">5 Days Forecast</h1>
        </div>
        <div class="card-body">
            <!-- Latitude and Longitude -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <p class="mb-0"><strong>Latitude:</strong></p>
                    <p class="skeleton-loader">{{ lat }}</p>
                </div>
                <div class="col-md-6">
                    <p class="mb-0"><strong>Longitude:</strong></p>
                    <p class="skeleton-loader">{{ long }}</p>
                </div>
            </div>
            <!-- Temperature and Emoji -->
            <div class="container">
                <h1>Temperature Data</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Max Temperature (&deg;C)</th>
                            <th>Min Temperature (&deg;C)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Use a loop to populate the table with data -->
                        {% for i in range(date_length) %}
                        <tr>
                            <td>{{ daily_date[loop.index0] }}</td>
                            <td>{{ daily_max_temperature[loop.index0] }}</td>
                            <td>{{ daily_min_temperature[loop.index0] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
